<p id="notice"><%= notice %></p>

<h2>
  <%= @size.name %>
</h2>

<table class="u-full-width">
  <thead>
    <tr>
      <th>Bust</th>
      <th>Waist</th>
      <th>Hips</th>
    </tr>
  </thead>

  <tbody>
    <tr>
      <td><%= @size.bust %></td>
      <td><%= @size.waist %></td>
      <td><%= @size.hips %></td>
    </tr>
  </tbody>
</table>
