<%= form_for(@pattern) do |f| %>
  <% if @pattern.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@pattern.errors.count, "error") %> prohibited this pattern from being saved:</h2>

      <ul>
      <% @pattern.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="row">
    <div class="twelve columns divider">
      <h3>Pattern Information</h3>
    </div>
  </div>
  <div class="row">
    <div class="twelve columns">
      <%= f.label :name %>
      <%= f.text_field :name, class: 'u-full-width' %>
    </div>
  </div>

  <div class="row">
    <div class="twelve columns divider">
      <h3>Inventory</h3>
    </div>
  </div>
  <div class="row">
    <div class="six columns">
      <%= f.label :digital %>
      <%= f.check_box :digital %>
    </div>

    <div class="six columns">
      <%= f.label :cut %>
      <%= f.check_box :cut %>
    </div>
  </div>

  <div class="row">
    <div class="twelve columns divider">
      <h3>Category</h3>
    </div>
  </div>
  <div class="row">
    <div class="twelve columns">
      <%= f.select :category, Pattern.TYPES.sort.collect { |p| [ p, p ] }, {prompt: true}, {class: 'u-full-width'} %>
    </div>
  </div>

  <div class="row">
    <div class="twelve columns divider">
      <h3>Boom!</h3>
    </div>
  </div>
  <%= f.submit 'Create pattern', class: 'button-primary u-full-width' %>
<% end %>
