<p id="notice"><%= notice %></p>

<h2>Pattern Library</h2>

<table class="u-full-width">
  <thead>
    <tr>
      <th colspan='1'><i class="fa fa-scissors"></i></th>
      <th colspan='1'><i class="fa fa-files-o"></i></th>
      <th>Name</th>
      <th>Category</th>
      <th>Variants</th>
      <th colspan="3">Actions</th>
    </tr>
  </thead>

  <tbody>
    <% @patterns.each do |pattern| %>
      <tr>
        <td>
          <% if pattern.cut %>
            <i class="fa fa-check-circle"></i>
          <% else %>
            <i class="fa fa-circle-o"></i>
          <% end %>
        </td>
        <td>
          <% if pattern.digital %>
            <i class="fa fa-check-circle"></i>
          <% else %>
            <i class="fa fa-circle-o"></i>
          <% end %>
        </td>
        <td>
          <%= link_to pattern.name, pattern %>
        </td>
        <td><%= pattern.category %></td>
        <td><%= pattern.variants.count %></td>
        <td>
          <%= link_to pattern do %>
            <i class="fa fa-external-link"></i>
          <% end %>
        </td>
        <td>
          <%= link_to edit_pattern_path(pattern) do %>
            <i class="fa fa-pencil"></i>
          <% end %>
        </td>
        <td>
          <%= link_to pattern, method: :delete, data: { confirm: 'Are you sure?' } do %>
            <i class="fa fa-trash"></i>
          <% end %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
