<p id="notice"><%= notice %></p>

<h2>
  <%= @pattern.name %>
  <div class="u-pull-right icon-list">
    <em>
      <%= @pattern.category %>
    </em>
    <% if @pattern.digital %>
      <i class="fa fa-files-o"></i>
    <% end %>
    <% if @pattern.cut %>
      <i class="fa fa-scissors"></i>
    <% end %>
    <%= link_to edit_pattern_path(@pattern) do %>
      <i class="fa fa-pencil"></i>
    <% end %>
  </div>
</h2>

<% if @pattern.fabrics %>
  <div class="divider">
    <h3>Fabrics</h3>
    <p><%= @pattern.fabrics %></p>
  </div>
<% end %> 

<% if @pattern.notions %>
  <div class="divider">
    <h3>Notions</h3>
    <p><%= @pattern.notions %></p>
  </div>
<% end %>

<% if @pattern.variants %> 
<div class="divider">
  
  <h3>Variants</h3>
  <% @pattern.variants.each do |variant| %>

  <div class="clear-divider">
    <h4>
      <%= variant.label %>
      <div class="u-pull-right">
        <% if variant.measurement %>
          <%= link_to variant.measurement.name, variant.measurement, class: 'button' %>
        <% end %>
        <% if variant.size %>
          <%= link_to variant.size.name, variant.size, class: 'button' %>
        <% end %>
      </div>
    </h4>

      
    <table class="u-full-width">
      <thead>
        <tr>
          <th>44"</th>
          <th>54"</th>
          <% if variant.yardage_60 > 0 %>
            <th>60"</th>
          <% end %>
          <% if @pattern.is_garment? %>
            <th>Bust</th>
            <th>Waist</th>
            <th>Hips</th>
          <% end %>
          <th colspan="2">Actions</th>
        </tr>
      </thead>

        <tbody>
          <tr>
            <td><%= pretty(variant.yardage_44).html_safe %></td>
            <td><%= pretty(variant.yardage_54).html_safe %></td>
            <% if variant.yardage_60 > 0 %>
              <td><%= pretty(variant.yardage_60).html_safe %></td>
            <% end %>
            <% if @pattern.is_garment? %>
              <td><%= pretty(variant.bust).html_safe %></td>
              <td><%= pretty(variant.waist).html_safe %></td>
              <td><%= pretty(variant.hips).html_safe %></td>
            <% end %>
            <td>
              <%= link_to edit_variant_path(variant) do %>
                <i class="fa fa-pencil"></i>
              <% end %>
            </td>
            <td>
              <%= link_to variant, method: :delete, data: { confirm: 'Are you sure?' } do %>
                <i class="fa fa-trash"></i>
              <% end %>
            </td>
          </tr>
          <% if variant.measurement %>
            <tr>
              <td></td>
              <td></td>
              <td><strong class="u-pull-right">Measurement</strong></td>
              <td><%= variant.measurement.bust %></td>
              <td><%= variant.measurement.waist %></td>
              <td><%= variant.measurement.hips %></td>
              <td colspan="2">
                <%= link_to variant.measurement do %>
                  <i class="fa fa-external-link"></i>
                <% end %>
              </td>
            </tr>
          <% end %>

          <% if variant.size %>
            <tr>
              <td></td>
              <td></td>
              <td><strong class="u-pull-right">Size</strong></td>
              <td><%= variant.size.bust %></td>
              <td><%= variant.size.waist %></td>
              <td><%= variant.size.hips %></td>
              <td colspan="2">
                <%= link_to variant.size do %>
                  <i class="fa fa-external-link"></i>
                <% end %>
              </td>
            </tr>
          <% end %>
      </tbody>
    </table>
    <% end %>
  </div>
<% end %>
</div>
