<%= form_for(@variant) do |f| %>
  <% if @variant.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@variant.errors.count, "error") %> prohibited this variant from being saved:</h2>

      <ul>
      <% @variant.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :size %><br>
    <%= f.text_field :size %>
  </div>
  <div class="field">
    <%= f.label :pattern_id %><br>
    <%= f.text_field :pattern_id %>
  </div>
  <div class="field">
    <%= f.label :44 %><br>
    <%= f.text_field :44 %>
  </div>
  <div class="field">
    <%= f.label :54 %><br>
    <%= f.text_field :54 %>
  </div>
  <div class="field">
    <%= f.label :60 %><br>
    <%= f.text_field :60 %>
  </div>
  <div class="field">
    <%= f.label :bust %><br>
    <%= f.text_field :bust %>
  </div>
  <div class="field">
    <%= f.label :waist %><br>
    <%= f.text_field :waist %>
  </div>
  <div class="field">
    <%= f.label :hips %><br>
    <%= f.text_field :hips %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
