<%= form_for(@variant) do |f| %>
  <div class="row">
    <div class="twelve columns">
      <% if @variant.errors.any? %>
        <div id="error_explanation">
          <h2><%= pluralize(@variant.errors.count, "error") %> prohibited this variant from being saved:</h2>

          <ul>
          <% @variant.errors.full_messages.each do |message| %>
            <li><%= message %></li>
          <% end %>
          </ul>
        </div>
      <% end %>
    </div>
  </div>


  <div class="row">
    <div class="twelve columns divider">
      <h3>Pattern Information</h3>
    </div>
  </div>
  <div class="row">
    <div class="six columns">
      <%= f.label :size, 'Size label' %>
      <%= f.text_field :size, class: 'u-full-width' %>
    </div>

    <div class="six columns">
      <%= f.label :pattern_id %>
      <%= f.collection_select(:pattern_id, Pattern.all, :id, :name, { prompt: true }, {class: 'u-full-width'}) %>
    </div>
  </div>

  <div class="row">
    <div class="twelve columns divider">
      <h3>Yardage</h3>
      <p><em>Floats, please.</em></p>
    </div>
  </div>
  <div class="row">
    <div class="four columns">
      <%= f.label :yardage_44, '44" bolt' %>
      <%= f.number_field :yardage_44, class: 'u-full-width', step: 'any' %>
    </div>
    <div class="four columns">
      <%= f.label :yardage_54, '54" bolt' %>
      <%= f.number_field :yardage_54, class: 'u-full-width', step: 'any' %>    
    </div>
    <div class="four columns">
      <%= f.label :yardage_60, '60" bolt' %>
      <%= f.number_field :yardage_60, class: 'u-full-width', step: 'any' %>      
    </div>
  </div>

  <div class="row">
    <div class="twelve columns divider">
      <h3>Sizing Measurements</h3>
      <p><em>Floats, please.</em></p>
    </div>
  </div>
  <div class="row">
    <div class="four columns">
      <%= f.label :bust %>
      <%= f.number_field :bust, class: 'u-full-width', step: 'any' %>
    </div>
    <div class="four columns">
      <%= f.label :waist %>
      <%= f.number_field :waist, class: 'u-full-width', step: 'any' %>
    </div>
    <div class="four columns">
      <%= f.label :hips %>
      <%= f.number_field :hips, class: 'u-full-width', step: 'any' %>      
    </div>
  </div>

  <div class="row">
    <div class="twelve columns divider">
      <h3>Boom!</h3>
    </div>
  </div>
  <%= f.submit 'Create variant', class: 'button-primary u-full-width' %>
<% end %>
