<p id="notice"><%= notice %></p>

<p>
  <strong>Size:</strong>
  <%= @variant.size %>
</p>

<p>
  <strong>Pattern:</strong>
  <%= @variant.pattern %>
</p>

<p>
  <strong>44:</strong>
  <%= @variant.44 %>
</p>

<p>
  <strong>54:</strong>
  <%= @variant.54 %>
</p>

<p>
  <strong>60:</strong>
  <%= @variant.60 %>
</p>

<p>
  <strong>Bust:</strong>
  <%= @variant.bust %>
</p>

<p>
  <strong>Waist:</strong>
  <%= @variant.waist %>
</p>

<p>
  <strong>Hips:</strong>
  <%= @variant.hips %>
</p>

<%= link_to 'Edit', edit_variant_path(@variant) %> |
<%= link_to 'Back', variants_path %>
