<p id="notice"><%= notice %></p>

<h2>
  <%= @measurement.name %>
    <div class="u-pull-right icon-list">
      <%= link_to edit_measurement_path(@measurement) do %>
        <i class="fa fa-pencil"></i>
      <% end %>
  </div>
</h2>

<div class="divider">
  <h3>Measurements</h3>
</div>

<table class="u-full-width">
  <thead>
    <th>Bust</th>
    <th>Waist</th>
    <th>Hips</th>
    <% if @measurement.inseam && @measurement.inseam  > 0%> 
      <th>Inseam</th>
    <% end %>
    <% if @measurement.neck_to_waist && @measurement.neck_to_waist  > 0%> 
      <th>Neck to waist</th>
    <% end %>
    <% if @measurement.nape_to_waist && @measurement.nape_to_waist  > 0%> 
      <th>Nape to waist</th>
    <% end %>
    <% if @measurement.armpit_to_waist && @measurement.armpit_to_waist  > 0%> 
      <th>Armpit to waist</th>
    <% end %>
    <% if @measurement.upper_back && @measurement.upper_back  > 0%> 
      <th>Upper back</th>
    <% end %>
    <% if @measurement.shoulder_rise && @measurement.shoulder_rise  > 0%> 
      <th>Shoulder rise</th>
    <% end %>
  </thead>
  <tbody>
    <td><%= pretty(@measurement.bust).html_safe %></td>
    <td><%= pretty(@measurement.waist).html_safe %></td>
    <td><%= pretty(@measurement.hips).html_safe %></td>
    <% if @measurement.inseam && @measurement.inseam > 0 %>
      <td><%= pretty(@measurement.inseam).html_safe %></td>
    <% end %>
    <% if @measurement.neck_to_waist && @measurement.neck_to_waist > 0 %>
      <td><%= pretty(@measurement.neck_to_waist).html_safe %></td>
    <% end %>
    <% if @measurement.nape_to_waist && @measurement.nape_to_waist > 0 %>
      <td><%= pretty(@measurement.nape_to_waist).html_safe %></td>
    <% end %>
    <% if @measurement.armpit_to_waist && @measurement.armpit_to_waist > 0 %>
      <td><%= pretty(@measurement.armpit_to_waist).html_safe %></td>
    <% end %>
    <% if @measurement.upper_back && @measurement.upper_back > 0 %>
      <td><%= pretty(@measurement.upper_back).html_safe %></td>
    <% end %>
    <% if @measurement.shoulder_rise && @measurement.shoulder_rise > 0 %>
      <td><%= pretty(@measurement.shoulder_rise).html_safe %></td>
    <% end %>
  </tbody>
</table>
